<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Welcome, <%= user.nickname %></h1>
  
  <p class="py-3">
    This is the content of <code class="bg-gray-200">userInfo</code>.<br>

  <pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= userInfo %></pre>

<%- include('partials/footer') -%>